/* https://stackoverflow.com/a/56861696 */

.container {
    display: flex;
    flex-direction: row;
}

side-menu {
    background: #def;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 1em;
    padding-top: 1.4em;
    max-width: 16em;
    font-family: sans-serif;
}

side-menu li {
    display: block;
    margin: 0.4em 0;
}

side-menu li.no-menu-children {
    padding-left: 1em;
}

main-content {
    /* border: 1px #ddd dotted; */
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}


h1, h2 {
    color: red;
}
