
input[type="text"] {
    color: blue;
    font-family: monospace;
    border: 1px solid #aaa;
}

input[type="text"][readonly] {
    color: #555;
    font-family: sans-serif;
    font-weight: bold;
}

th input[type="text"] {
    border-style: dotted;
    border-top: none;
}

tr {
    line-height: 1.333em;
}

form table {
    margin-bottom: 1em;
}
