table tr td {
    vertical-align: top;
}

input[type="text"] {
    color: blue;
    font-family: monospace;
}

input[type="text"][readonly] {
    color: #888;
    font-family: sans-serif;
    font-weight: bold;
}