
input[type="text"] {
    color: blue;
    font-family: monospace;
    border: 1px solid #aaa;
}

button.plusminus {
    background: #f8f8f8;
    color:blue;
    font-weight: bold;
    border-radius: 0.8ex;
    border-color: grey;
    margin-top: none;
    margin-bottom: none;
    height: 50%;
}

button.plusminus[disabled] {
    color: grey;
    border-style: solid;
}

tr {
    line-height: 1.4em;
}

th[scope="row"]{
    padding: 1em;
}

.sysname {
    font-family: monospace;
}

form table {
    margin-bottom: 1em;
}

table tbody tr:nth-child(odd) {
    background: #c2deda83;
}
table tbody tr:nth-child(even) {
    background: #f0f8ff;
}