/* Layout */

body {
    font-family: sans-serif;
}

/* https://stackoverflow.com/a/56861696 */

#container {
    display: flex;
    flex-direction: row;
}

side-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 4em;
    padding: 1.2em;
    padding-right: 0;
    max-width: 12em;
    font-family: sans-serif;
    font-size: 97%;
    color: #222;
    border-right: 1px grey dotted;
}

side-menu ul {
    padding-left: 1.3em;
    list-style-type: none;
    list-style-position: inside;
}

side-menu li {
    margin-top: 0.6em;
}

side-menu li.no-menu-children {
    padding-left: 1em;
}

side-menu a {
    color: #68a;
    text-decoration: none;
    font-weight: bold;
}

side-menu a:hover {
    text-decoration: underline;
}

main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-top: 1ex;
}

/* Tables */

table th {
    text-align: center;
    font-size: 90%;
}

table td {
    font-family: monospace;
    text-align: right;
    background-color: #d4e2ee;
    padding: 4px;
}

table td.symbol {
    text-align: center;
    font-size: 160%;
    padding: 0;
}

table td button.icon {
    width: 2em;
    text-align: center;
}

table td ul {
    margin: 0;
    padding: 0
}

table td ul li {
    display: block;
    margin: 4px;
}

/* Outputs */

.truthy {
    color: green;
}

/* Addresses and network types */

.link-local-address {
    color: #707070;
}
