:root {
    --host-hue: 180deg;
    --host-fg: hwb(var(--host-hue) 30% 35%);
    --host-mg: hwb(var(--host-hue) 45% 42%);
    --host-tb: hwb(var(--host-hue) 86% 6%);
    --host-bg: hwb(var(--host-hue) 96% 2%);
  }

/* Layout */

body {
    font-family: sans-serif;
}

/* https://stackoverflow.com/a/56861696 */

#container {
    display: flex;
    flex-direction: row;
}

side-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 4em;
    padding: 1.2em;
    padding-right: 0;
    max-width: 12em;
    font-family: sans-serif;
    font-size: 97%;
    color: #222;
    border-right: 1px grey dotted;
}

side-menu ul {
    padding-left: 1.3em;
    list-style-type: none;
    list-style-position: inside;
}

side-menu li {
    margin-top: 0.6em;
}

side-menu li.no-menu-children {
    padding-left: 1em;
}

side-menu a {
    color: var(--host-fg);
    text-decoration: none;
    font-weight: bold;
}

side-menu a:hover {
    text-decoration: underline;
}

.system-info-badge {
    font-weight: bold;
    color: #444;
    border-top: 1.8px var(--host-fg) solid;
    padding: 1em;
    margin: 1em;
}

main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-top: 1ex;
}

/* Tables */

table th {
    text-align: center;
    font-size: 90%;
}

table td {
    font-family: monospace;
    text-align: right;
    background-color: var(--host-bg);
    padding: 4px;
    border-radius: 2px;
    border: 1px var(--host-tb) solid;
}

table td.symbol, table td.singlecheck {
    text-align: center;
    font-size: 160%;
    padding: 0;
}

table td input[type='text'] {
    text-align: right;
    font-family: monospace;
    padding-right: 0.4em;
}

table td button.icon {
    width: 2em;
    text-align: center;
    margin-left:  0.5ex;
    margin-right: 0.5ex;
}

table td ul li button.icon:last-child {
    margin-right: 3px;
}

table td ul {
    margin: 0;
    padding: 0;
}

table td ul li {
    display: block;
    margin: 4px 0;
}

input[type="checkbox"] {
    margin: 3px;
    accent-color: var(--host-mg);
}

/* Outputs */

.truthy {
    color: green;
}

/* Addresses and network types */

ipaddr-control[scope="link"], ipaddr-control[scope="host"] {
    color: #666;
}

table tr td ul ipaddr-control input {
    width: calc(100% - 4em);
}

/* Buttons / Persist */

div.persist {
    margin-top: 1ex;
}

button.persist {
    margin: 1em 1em 1em 0;
    width: 12em;
    font-size: 10.3pt;
}

/* Misc */
.persist .file-name {
    margin-bottom: 0.6em;
    margin-top: 0.8em;
    font-size: 10pt;
}
.persist pre.file-content {
    margin-top: 0;
    border: 2px var(--host-tb) solid;
    border-radius: 6px;
    display: inline-block;
    padding: 1.5ex 3ex 0 2ex;
}